<section class="container">
    Deployments
        <div class="cal-md-6">
                
               <table width="100%" class="table">
               <thead>
               <tr>
               <th ng-repeat="(header, value) in MyRecCollection[0]">{{header}}</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="row in MyRecCollection | filter:searchText">
               <td ng-repeat="cell in row">{{cell}}</td>
               </tr>
               </tbody>
               </table>
</section> 