<section class="container">
    Kubernetes cluster deploy helper.
    <div class="alert alert-success" ng-show="success == true">
        PHP deployed successfully on <a href="http://localhost:{{ php_port }}">localhost:{{ php_port }}</a> <br />
        MySQL deployed successfully on port {{ mysql_port }}
    </div>
    <div class="alert alert-danger" ng-show="success == false">
        Deploy error
    </div>
    <form>
        <div class="form-group">
            <label for="stack_name">Stack to deploy: </label>
            <select ng-options="stack as stack.label for stack in stacks" ng-model="formData.stack_name" class="form-control" id="stack_name">
            </select>
        </div>
        <div class="form-group">
            <label for="num_reĺicas">Number of replicas: </label>
            <input class="form-control" type="number" ng-model="formData.num_replicas" id="num_replicas" />
        </div>
        <div class="form-group" ng-show="formData.stack_name.label == 'LAMP'">
            <label for="lamp_mysql_pwd">MySQL root password:</label>
            <input type="text" class="form-control" id="lamp_mysql_pwd" ng-model="formData.lamp_mysql_pwd" name="lamp_mysql_pwd" />
        </div>
        <div class="form-group" ng-show="formData.stack_name.label == 'MEAN'">

        </div>
        <input type="submit" value="Deploy" class="btn btn-primary" ng-click="deploy()" />
    </form>
</section>